<section>
  <app-dashboard-tile>
    <h2>TypeScript</h2>
    <app-dashboard-list [items]="dashboardData?.dataTileOne?.items"></app-dashboard-list>
    <app-loading-indicator></app-loading-indicator>
  </app-dashboard-tile>
  <app-dashboard-tile>
    <h2>Angular2</h2>
    <app-dashboard-list [items]="dashboardData?.dataTileTwo?.items"></app-dashboard-list>
    <app-loading-indicator></app-loading-indicator>
  </app-dashboard-tile>
  <app-dashboard-tile>
    <h2>Weather</h2>
    <div>TODO: combine both arrays</div>
    <app-loading-indicator></app-loading-indicator>
  </app-dashboard-tile>
</section>
